.header{
    border: 5px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section{
    display: flex;
    align-items: center;
}

.middle-section{
    display: flex;
    align-items: center;
}

.search-bar{
    height: 30px;
    flex: 1;
    font-size: 15px;
}

.search-button{
    height: 30px;
    width: 40px;
}

.right-section{
    display: flex;
    align-items: center;
}

.search-button > img{
    height: 20px;
}


.header1 a{
    list-style-type: none;
    text-decoration: none;
    color: rgba(88, 87, 87, 0.616);
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 1200;
    text-align: center;

}