.main1{
    width: 800px;
}

.mian2{
    width: 200px;
}

#banner1{
    width: 70%;
}
#login_form{width: 100%; height: 30%;}
#login_form>*{width: 100%;}
#login_form_input{height: 80%;}
#login_form_etc{height: 20%; text-align: center;}

#login_form_input>*{height: 100%; float: left;}
#login_input_id_pwd{width: 65%;}
#login_input_btn{width: 35%;}

#login_form_etc>a{
    text-decoration: none;
    color: rgb(58,58,58);
    font-size: 12px;
    margin: 10px;
    vertical-align: middle;
}